

/* border for everything */
/* right now just taking the one below and sort of inflating it */
.curvy_border
{ 
    /* color and size not specified here, but should be specified in the element this border is FOR */
    -moz-border-radius:28px;
    -webkit-border-radius:28px;  
    border-radius:28px;
} 


/* if you find yourself having multiple #blah's per one set of rules, like below, it's probably time to
 * make these into one class, not separate id's
 */
#warning, 
#playingNow, #playableFiles,
#stats, #controls, #info, #streamingThingDiv, #loopablesDiv {
    vertical-align:center;
    text-align:center;
    width:400px; 
    padding:5px;
    margin:20px;
    background-color:lightblue;
    color:black;
    border: 1px lightblue solid;
    -moz-box-shadow: 1px 2px 3px lightblue;
    -webkit-box-shadow: 1px 2px 3px lightblue;
    box-shadow: 1px 2px 3px lightblue;
}  

#warning { 
	background-color:rgb(206, 82, 82);
	color:white;
 }


body {
    font-family:"Georgia", Georgia, georgia, "georgia", "Verdana", "verdana", verdana,serif;
    /* background-color:lightlightblue; */
    /*background: url("background-usa.havaianas.com.gif"); */
    /* background should be black (with bright buttons) - think: looks better on phone, like a remote 
     * so colors like here:
     * http://www.inspiredm.com/wp-content/uploads/2010/01/12-www.themattinator.com_.jpg  */
    background-color:white;
    text-align:center;
    font-style:normal;
}
p {
    font-size:13px;
    color:black;
}
h1 {
    font-style:italic;
    color:black;
    text-shadow:0px 1px 1px darklightblue;
    font-size:18px;
    font-style:normal
}
h2 { 
    font-style:italic;
    font-size:13px;
}


/* Responsive web design time! 
 *  In portrait orientation on my phone, blocks should be stacked vertically; 
 *  but on my laptop, they should be  stacked horizontally. */

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.block {
	position:relative;
    width:90%; 
	overflow:auto;

    vertical-align:center;
    text-align:center;
    padding:5px;
    margin:20px;
    background-color:lightblue;
    color:black;
    border: 1px lightblue solid;
    -moz-box-shadow: 1px 2px 3px lightblue;
    -webkit-box-shadow: 1px 2px 3px lightblue;
    box-shadow: 1px 2px 3px lightblue;
}
}  


/* laptop/desktop */
@media only screen and (min-width : 1200px) {
.block {
	position:relative;
    width:20%; 
	float:left;
	overflow:auto;

    vertical-align:center;
    text-align:center;
    padding:5px;
    margin:20px;
    background-color:lightblue;
    color:black;
    border: 1px lightblue solid;
    -moz-box-shadow: 1px 2px 3px lightblue;
    -webkit-box-shadow: 1px 2px 3px lightblue;
    box-shadow: 1px 2px 3px lightblue;
}  
}




#controls  {
    width:150px;
}
#stats {
    width:350px;
}




/*
#info {
    max-height:100px;
    margin-bottom:0px;
}
*/

#anotherDiv {
    width:750px;
    margin:auto;
    background-color:lightpink;
    border: 0px solid;
}



/***************************************/
/* one type of button ........ */
/***************************************/
.myButton0 {
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7)) 
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 12px 24px;
   /*border-top: 1px solid #96d1f8;
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px; */
   /*-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0; */
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;  
    border-radius:14px;
    -moz-box-shadow: 1px 2px 6px lightblue;
    -webkit-box-shadow: 1px 2px 6px lightblue;
    box-shadow: 1px 2px 6px lightblue;
   }
.myButton0:hover {
/*   border-top-color: #1d7323; */
   background: #1d7323;
   color: #ccc;
   }
.myButton0:active {
/*   border-top-color: #1b435e;  */
   background: #1b435e;
   }


/***************************************/
/* and another type of button ........ */
/***************************************/
.myButton1 {
        
        -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
        -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
        box-shadow: 3px 4px 0px 0px #8a2a21;



        -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
        -webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
        box-shadow:inset 0px 0px 15px 3px #23395e;





           background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
        background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
        background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
        background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
        background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
        background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);     
        background-color:#c62d1f;
        
        -moz-border-radius:18px;
        -webkit-border-radius:18px;
        border-radius:18px;
        
        border:1px solid #2e466e;
        
        display:inline-block;
        color:#ffffff;
        font-size:12px;
        font-weight:normal;
        padding:7px 25px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #810e05;
        
    }
    .myButton1:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
        background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
        background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
        background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
        background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
        background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);

        background-color:#f24437;
    }
    .myButton1:active {
        position:relative;
        top:1px;
    }


/***************************************/
/* and another type of button ........ */
/***************************************/

.myButton {
    display: inline-block;
    margin: 10px;
    /*
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    */
    /*
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    */
}

.myButton {
    padding:7px 15px;
    background-color: #ec528d;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    
    color: #fff;
    font-size: 15px;
    font-family: 'Pacifico', Arial, sans-serif;
    font-family:"Georgia", Georgia, georgia, "georgia", "Verdana", "verdana", verdana,serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);

    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.myButton:hover {
    background-color: #ec6a9c;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.myButton:active, .myButton:focus {
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    border-width: 0px;
}

.myButton:active {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}



/*
#playButton {
        background:-moz-linear-gradient(top, green 5%, #2e466e 100%);
        background:-webkit-linear-gradient(top, green 5%, #2e466e 100%);
        background:-o-linear-gradient(top, green  5%, #2e466e 100%);
        background:-ms-linear-gradient(top, green 5%, #2e466e 100%);
        background:linear-gradient(to bottom, green 5%, #2e466e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='green', endColorstr='green',GradientType=0);
    
}

#pauseButton {
        background:-moz-linear-gradient(top, yellow 5%, #2e466e 100%);
        background:-webkit-linear-gradient(top, yellow 5%, #2e466e 100%);
        background:-o-linear-gradient(top, yellow  5%, #2e466e 100%);
        background:-ms-linear-gradient(top, yellow 5%, #2e466e 100%);
        background:linear-gradient(to bottom, yellow 5%, #2e466e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='yellow', endColorstr='yellow',GradientType=0);
}


#stopButton {
        background:-moz-linear-gradient(top, red 5%, #2e466e 100%);
        background:-webkit-linear-gradient(top, red 5%, #2e466e 100%);
        background:-o-linear-gradient(top, red 5%, #2e466e 100%);
        background:-ms-linear-gradient(top, red 5%, #2e466e 100%);
        background:linear-gradient(to bottom, red 5%, #2e466e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='red',GradientType=0);
}
*/
