{% extends 'base.html' %}

{% block content %}

<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>


<center>
    {% if is_file_playing %}
     <div id="playingNow" class="curvy_border">
         <h1>Currently playing:</h1>
		 <h2>{{currently_playing_file_name }}</h2>        
	  <!-- <h1> check...... hidden value should be curr playing file, {{ currently_playing_file_name }}</h1> -->
		  <form action='/controls/' method='post'>
			  {% csrf_token %}
			   <input type="hidden" name="currently_playing_file" value= {{ currently_playing_file_name }}>
			   <input class="myButton" id="playButton" type="submit" name="play" value="Play" />
			   <input class="myButton" id="pauseButton" type="submit" name="pause" value="Pause" /><br>
			   <input class="myButton" id="stopButton" type="submit" name="stop" value="Stop" />  <br>      
			   <input class="myButton" type="submit" name="rew" value="&#060;&#060;"/>
			   <input class="myButton" type="submit" name="ff" value="&#062;&#062;" />    <br>
			   <input class="myButton" type="submit" name="next_chapter" value="Next Chapter" />
			   <input class="myButton" type="submit" name="prev_chapter" value="Prev Chapter" />
			   <input class="myButton" type="submit" name="volume_up" value="volume &#8593;" />
			   <input class="myButton" type="submit" name="volume_down" value="volume &#8595;" />
		   </form>



                 <p> - Stats: File size: x MB;   y hours 23 min long;  uploaded on M/D/Y, etc. </p>     
                 <p> - [Info from Google, or whatever on the media file here
					(detect name of media from file name?
					Google search on it and return the info?
					Like Google does for movies....  is there an API for this?
				  ]<p>
				<p> How about this: https://github.com/zacoppotamus/TerminaIMdB </p>    

            </td>



            <td style="border:3px dotted yellow;width:40%;text-align:center;">
            </td>
            </tr>
            </table>
     </div>      
     {% endif %}

     <div id='playableFiles' class='curvy_border'>
         <h1>Playable files in directory play_media:</h1>
         <form action='/play_it/' method='post'>
            {% csrf_token %}
                 {% for file_name in playable_files_list %}
                    <input class="myButton" type='submit' name='file_to_play' value='{{ file_name }}'>
                {% endfor %}
         </form>
     </div>


     <div id="loopablesDiv" class="curvy_border">
         <h1>Loopables</h1>      
         <form action='/play_loopable/' method='post'>
            {% csrf_token %}
            {% for loopable_file_name in playable_loopable_files_list %}
             <p>
                 <br>Loop <input type = "text" size="1" name="num_loops" value=1> time(s)
                 <input class="myButton" type="submit" name="loopable_file_to_play" value="{{ loopable_file_name }}" > 
            {% endfor %}
             </p>
         </form>
     </div>    


     <div id="streamingThingDiv" class="curvy_border">
         <h2>Enter YouTube URL [for download]</h2>        
             <form action='/youtube_play_it/' method='post'>
                {% csrf_token %}
                 <p>
                 <input type="text" size="40" name="youtube_link" value="http://www.youtube.com/watch?v=yO78qoyOQJc" />
                 </p>
             <input class="myButton" type="submit" value="Download and play"/>
         </form>
     </div>    


   <!-- <div class="block curvy_border"> -->
   <div id = "streamingThingDiv" class="curvy_border"> 
         <h2>Enter URL to playable file to wget and play</h2>        
         <p>urls.py:  dl_and_play it --- view is wget_and_play()
         <br>views:   name of field is dl_link, value is the url. </p>
             <form action='/dl_and_play_it/' method='post'>
                {% csrf_token %}
                 <p>
                 <input type="text" size="40" name="dl_link" value=
"http://tv.fztvseries.mobi/videos/cartoon/Robot Chicken/Season 6/Robot_Chicken_-_S06E10_-_Collateral_Damage_in_Gang_Turf_War.mp4"\>
                 </p>
             <input class="myButton" type="submit" value="Download and play"/>
         </form>
     </div>    


</div>
</div>


{% comment %} both divs below are just temp, debuggage, reminders {%endcomment%}
<div style="width:400px;border:3px dotted green;text-align:center; font-size:10px;">
    <h2> temp: collecting what's coming in through (extra?) context:</h2>
        <ul>
            <li>  is_playing_flag: {{ is_file_playing }} </li>
            <li>  playable_files_list: {{ playable_files_list }}        </li>
            <li>  playable_loopable_files_list: {{ playable_loopable_files_list }}        </li>
            <li>  currently playing file name: {{ currently_playing_file_name }} </li>
            <li>  num loops: {{ num_loops }} </li>
            <li>  [objects/context/request:   {{ objects }}, {{ context }}, {{request}} ] </li>
        </ul>
	<b> UMMM!!  Put ip address after runserver!!!!! i.e. <pre>.manage.py runserver 192.168.1.xxx:port  </pre>
to see on other machines on network</b>
</div>



    <div id='warning' class='curvy_border' >
        <b><p>Before you download something....., this is how much space is left: </p></b>
        {{ available_space }}  
        <p> (for views: this is available_space. grab from df -h  or something? or better yet, there's probably a python wrapped way to do it) </p>
        <p> css:   need a 'warning' id?   </p>
        <hr>
        <h1>so, note to me:</h1>
        <p>make sure to check at other levels of code whether there is going to be enough room to dl a file. since there are two things dl'ing files -- the youtube thing and the new
        wget thing... I don't know if both/either perform checks for whether there is not enough space, but... I should do it. 
        let's say I can check the file size before downloading it (can I?).  Then just check if there's enough space, and if there isn't, return/exception. 
        Or the easier thing would be maybe to check if there's less than some x amount of space left so then ... " are you sure you want to proceed; you only have x MB left"</p>
    </div>


{% endblock %}
